.main {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: #000;
  color: #FFF;
  font: 500 20px 'Roboto', sans-serif;

  :hover {
    cursor: pointer;
    color: #ccc;
  }
}