.main_container {
  width: 768px;
  margin: auto;
  font: 400 16px 'Roboto', sans-serif;
}

.question {
  margin: 10px 0;
  display: flex;
  justify-content: center;

  button {
    height: 30px;
    padding: 0 10px;
  }
}

.thread_container {
  margin: 10px 5px;
  padding: 0 5px;
  background: #fff;
  border: 1px solid #bcbcbc;
  border-radius: 5px;

  .thread_header {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #555;

    .date {
      font-size: 12px;
      color: #888;
    }
  }

  .thread_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #555;
    padding: 5px 0;

    .title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
  
  .thread_footer {
    height: 30px;
    display: flex;
    align-items: center;
  }
}